.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  min-height: 100%;
  min-height: 100%;
  background-image:
  url(./img/xl-person.png),
  url(./img/xl-rectangle.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain ;
  
}
@media screen and (max-width: 1026px){
    .App {
      background-image:
    url(./img/l-person.png),
    url(./img/l-rectangle.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain ;
    }
}
@media screen and (max-width: 768px) {
  .App {
    background-image:
    url(./img/m-left.png),
    url(./img/m-center.png),
    url(./img/m-right.png),
    url(./img/m-rectangle.png);
    background-position:
     bottom right,
     bottom center,
     bottom left,
     bottom center;
    background-repeat: no-repeat;
    background-size: auto;
    justify-content:center;
  }
  
}
